.popup__title {
  box-sizing: border-box;
  margin: 0 0 24px;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
}

@media screen and (max-width: 550px) {
  .popup__title {
    margin: 0 0 46px;
    font-size: 18px;
  }
}