.elements {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 880px;
  display: grid;
  grid-gap: 20px 17px;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-auto-rows: 361px;
}

@media screen and (max-width: 1024px) {
  .elements {
    padding: 0 19px;
  }
}