.header {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 41px;
  width: 100%;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 0 32px 27px;
  }
}